@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
    margin: 0;
    background-image: url("../../assets/ImagenesWeb/contratos\ y\ obligaciones.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Arima Madurai', cursive;
    color: black;
}

.top-bar {
    background-color: #333;
    color: #ccc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.titulo-central {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);/* Desplaza el elemento un -50% de su propio ancho hacia la izquierda */ 
    background-color: white;
    padding: 8px 25px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    margin: 0;
}

.icono-izquierda img {
    width: 25px;
    height: auto;
}

.icono-izquierda {
    background-color: white;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;/* Transición suave del color de fondo: 0.3 segundos con efecto ease*/
}

.icono-izquierda:hover {
    background-color: #e0e0e0;
}

.logo {
    width: 50px;
    height: auto;
}

h1 {
    text-align: center;
    background-color: white;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin: 30px auto;
}

.contenido {
    background: #CCC4B8;
    border-radius: 10px;
}

.texto p,
.texto ul {
    font-family: 'Arima Madurai', cursive;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.texto ul {
    list-style: none;
    padding-left: 0;
}

.texto li {
    margin-bottom: 8px;
}

.sub-servicio {
    text-align: center;
    font-family: 'Arima Madurai', cursive;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.final {
    font-size: 18px;
    color: #000;
    text-align: right;
}

footer {
    background: #333;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 10px;
}
